* {
    border-radius: 0 !important;
    /*color: whitesmoke !important;*/
}

body {
    background: whitesmoke;
    color: #161639;
}

ul.main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.main-nav li {
    float: right;
}

ul.main-nav li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.main-nav li a:hover:not(.active) {
    background-color: #161639;
}

ul.main-nav li a.active {
    background-color: #161639;
}

ul.main-nav li.logo {
    float: left;
}

.title {
    color: #161639;
}
.canvas-container {
    background: #7c7c7c no-repeat 50% 30%;
    margin-bottom: 20px;
    color: white;
    height: 300px;
    text-align: center;
}

.canvas_pic {
    width: 100%;
}

.m_logo_small {
    width: 25px;
    height: 25px;
}

.intro-title{
    color: whitesmoke;
}

.btn-page-link {
    border: 2px solid whitesmoke;
    box-sizing: inherit;
    display: inline-block;
    font-size: 13pt;
    transition: all .5s;
    cursor: pointer;
    padding: 12px 50px 12px 20px;
}

.btn-page-link .link {
    text-decoration: none;

}

.btn-page-link .link:hover {
    color: black;
}

.btn-page-link a:hover {
    color: black;

}

.btn-page-link:hover {
    background: orchid;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



@media screen and (min-width: 600px) {

    section {
        line-height: 18pt;
        position: relative;
    }


}

